{% extends "base.html" %}

{% block top %}

<section class="hero is-primary">
<div class="hero-body">
    <div class="container">
        <h1>Cadastra-se no...</h1>
    </div>
</div>
</section>
{% endblock %}

{% block main %}
<div class="col-md-3 col-md-offset-4">
    <div class="container">
        {% with messages = get_flashed_messages() %}
        {% if messages %}
            <ul class="flashes">
            {% for message in messages %}
                <li class="alert alert-danger">{{ message }}</li>
            {% endfor %}
            </ul>
        {% endif %}
        {% endwith %}
    </div>   
    <form action='{{url_for("main.login")}}' method='post' enctype='multipart/form-data'>
        {{form.csrf_token}}

        <div class="form-group">
            <label>Email</label>
            <div class="control has-icons-left has-icons-right">
                {{ form.email(class="input is-success", type="email", placeholder="Email") }}
                <span class="icon is-small is-left">
                    <i class="fas fa-envelope"></i>
                </span>         
                {% if form.errors.email %}
                        {% for e in form.errors.email %}
                            <p class="help is-danger">{{ e }}</p>
                        {% endfor %}
                {% endif %}
            </div>
        </div> 
        
        <div class="form-group">
            <label>Senha</label>
            {{ form.password(class="form-control", placeholder="Senha") }}
            {% if form.errors.password %}
            <div class="alert alert-danger" role="alert">
                <ul>
                    {% for e in form.errors.password %}
                        <li>{{ e }}</li>
                    {% endfor %}
                </ul>
            </div>
            {% endif %}
        </div> 


        <input class="btn btn-info" type="submit" value="Conectar">
        <button class="btn btn-link"><a href="{{ url_for('page.index')}}">Voltar</a></button>
    </form>
</div>
{% endblock %}


