{% extends "base.html" %}

{% block top %}


<section class="hero is-primary">
<div class="hero-body">
    <div class="container">
        <h1>Cadastra-se no...</h1>
    </div>
</div>
</section>
{% endblock %}

{% block main %}
<form action='{{url_for("site.signup")}}' method='post' enctype='multipart/form-data'>
    {{form.csrf_token}}
   
    {{form.name.label}}<br>
    {{form.name(size=20)}}<br>

    {{form.email.label}}<br>
    {{form.email(size=20)}}<br>
    
    {{form.password.label}}<br>
    {{form.password(size=20)}}<br>
    
    {{form.foto.label}}<br>
    {{form.foto}}<br>

    <input type="submit" value="Cadastrar">
</form>
{% endblock %}


