{% extends "index.html" %}

{% block top %}


<section class="hero is-primary">
    <div class="hero-body">
        <div class="container">
            <h1>Lista das lojas<h1>
        </div>
    </div>
</section>
{% endblock %}

{% block main %}

{% block content %}
<table class="table">
    <thead>
        <tr>
            <th>Loja</th>
            <th>Comprar agora?</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        {% for order in orders %}
        <tr>
            <td>{{order.store_id}}</td>
            <td>{{order.completed}}</td>
            <td>
                <a href="{{url_for('cate.edit_order')}}">Editar</a>
                <a href="{{url_for('cate.delete_order')}}">Deletar</a>
            </td>

        </tr>
        {% endfor %}
    </tbody>
</table>


<a class="btn btn-primary" href="{{ url_for('cate.register_order') }}">Nova Categoria</a>
{% endblock %}
{% endblock %}