{% extends "logado.html" %}

{% block top %}


<section class="hero is-primary">
<div class="hero-body">
    <div class="container">
        <h1>Cadastro de Categoria<h1>
    </div>
</div>
</section>
{% endblock %}

{% block main %}
<form action='{{url_for("cate.register_category")}}' method='post' enctype='multipart/cate-data'>
<div class="col-md-3 col-md-offset-4">
    
    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
        <ul class="flashes">
        {% for category, message in messages %}
            <li class="alert alert-{{category}}">{{ message }}</li>
        {% endfor %}
        </ul>
    {% endif %}
    {% endwith %} 

    {{cate.csrf_token}}

    <div class="form-group">
        <label>Nome: </label>
        {{ cate.name(class="form-control", placeholder="Nome") }}
        {% if cate.errors.password %}
        <div class="alert alert-danger" role="alert">
            <ul>
                {% for e in cate.errors.password %}
                    <li>{{ e }}</li>
                {% endfor %}
            </ul>
        </div>
        {% endif %}
    </div>

    <div class="control">
        <input class="btn btn-info" type="submit" value="Cadastrar">
    </div>


</div>
</form>    
{% endblock %}



