{% extends "logado.html" %}

{% block top %}


<section class="hero is-primary">
<div class="hero-body">
    <div class="container">
        <h1>Cadastro de Itens<h1>
    </div>
</div>
</section>
{% endblock %}

{% block main %}
<form action='{{url_for("cate.register_items")}}' method='post' enctype='multipart/cate-data'>
<div class="col-md-3 col-md-offset-4">
    
    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
        <ul class="flashes">
        {% for category, message in messages %}
            <li class="alert alert-{{category}}">{{ message }}</li>
        {% endfor %}
        </ul>
    {% endif %}
    {% endwith %} 

    {{item.csrf_token}}

    <label>Selecione uma loja</label>
    {{item.store_id(class="form-control")}}

    <div class="form-group">
        <label>Nome: </label>
        {{ item.name(class="form-control", placeholder="Nome") }}
        {% if item.errors.name %}
        <div class="alert alert-danger" role="alert">
            <ul>
                {% for e in item.errors.name %}
                    <li>{{ e }}</li>
                {% endfor %}
            </ul>
        </div>
        {% endif %}
    </div>

    <label class="label">Imagem</label>         
    <figure class="thumb col-md-4">
        <figcaption>
          <label class="fileContainer">
            {{item.image(class="btn btn-link")}}
          </label>
        </figcaption>
      </figure>

      
      <label>Valor: </label>
      <div class="field has-addons">
        <p class="control">
          <span class="select">
            <select>
              <option>R$</option>
              <option>$</option>
            </select>
          </span>
        </p>
        <p class="control is-expanded">
            {{ item.price(class="input", type="number", placeholder="Valor") }}
            {% if item.errors.price %}
            <div class="alert alert-danger" role="alert">
                <ul>
                    {% for e in item.errors.price %}
                        <li>{{ e }}</li>
                    {% endfor %}
                </ul>
            </div>
            {% endif %}
        </p>
      </div>

    <div class="checkbox">
        <label>Disponível </label>
        {{ item.available(class="checkbox", type="checkbox") }}
        {% if item.errors.available %}
        <div class="alert alert-danger" role="alert">
            <ul>
                {% for e in item.errors.available %}
                    <li>{{ e }}</li>
                {% endfor %}
            </ul>
        </div>
        {% endif %}
    </div>


    <div class="control">
        <input class="btn btn-info" type="submit" value="Cadastrar">
    </div>


</div>
</form>    
{% endblock %}



