{% extends "index.html" %}

{% block top %}


<section class="hero is-primary">
    <div class="hero-body">
        <div class="container">
            <h1>Cadastro de Ordem de compra<h1>
        </div>
    </div>
</section>
{% endblock %}

{% block main %}
<form action='{{url_for("cate.register_order")}}' method='post' enctype='multipart/cate-data'>
    <div class="col-md-3 col-md-offset-4">

        {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
        <ul class="flashes">
            {% for category, message in messages %}
            <li class="alert alert-{{category}}">{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        {% endwith %}

        {{order.csrf_token}}

        <div class="form-group">
            <label>Estabelecimento: </label>
            {{ order.store_id(class="form-control", placeholder="Estabelecimento que comprou") }}
            {% if order.errors.name %}
            <div class="alert alert-danger" role="alert">
                <ul>
                    {% for e in order.errors.name %}
                    <li>{{ e }}</li>
                    {% endfor %}
                </ul>
            </div>
            {% endif %}
        </div>

        <div class="form-group">
            <label>Comprar agora? </label>
            {{ order.completed(class="checkbox", type="checkbox") }}
            {% if order.errors.available %}
            <div class="alert alert-danger" role="alert">
                <ul>
                    {% for e in order.errors.available %}
                    <li>{{ e }}</li>
                    {% endfor %}
                </ul>   
            </div>
            {% endif %}
        </div>

        <div class="control">
            <input class="button is-link" type="submit" value="Cadastrar">
            <button class="button is-link is-light"><a href="{{ url_for('page.index')}}">Voltar</a></button>
        </div>


    </div>
</form>
{% endblock %}