{% extends "base.html" %}

{% block top %}
<section class="hero is-primary">
<div class="hero-body">
    <div class="container">
        <h1>Cadastra-se no...</h1>
    </div>
</div>
</section>
{% endblock %}
<form action="/receiver" method="post"enctype="multipart/form-data">
    {{form.email.label}}<br>
    {{form.email(size=20)}}

    {{form.password.label}}
    {{form.password(size=20)}}
    <input type="submit" value="">
</form>
    

{% block main %}
<form action="form"></form>
{% endblock %}
